{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="/admin/emails/emailentry/{{ entry_id }}/">EmailEntry {{ entry_id }}</a>
&rsaquo; Attachments
</div>
{% endblock %}


{% block content %}
  <h1>{% trans 'Email Entry Attachments' %}</h1>
  <div id="content-main">
    <ul>
    {% for attach in object_list %}
      <li><a href="{{ attach.attached_file.url }}" target="_blank">{{ attach.name }}</a></li>
    {% empty %}
      This entry has no attached files.
    {% endfor %}
    </ul>
  </div>
{% endblock %}
